// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$dark-gray: #1D0832;
$middle-gray: #3f3f3f;
$light-gray: #eaedef;
$white: #FFFFFF;
$dark-purple: linear-gradient(to right, #240335, #311a49);
$purple-gradient:linear-gradient(to right, #4d51d8, #4736c9);
$gradient: rgb(64,37,92);
$purple: #4d51d8;
