// Define variables for your color scheme

// For example:


$dark-gray: #1D0832;
$middle-gray: #3f3f3f;
$light-gray: #eaedef;
$white: #FFFFFF;
$dark-purple: linear-gradient(to right, #240335, #311a49);
$purple: #4d51d8;
$purple-gradient:linear-gradient(to right, #4d51d8, #4736c9);

