// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$dark-gray: #181b20;
$middle-gray: #3f3f3f;
$light-gray: #eaedef;
$white: #FFFFFF;
$dark-purple: #2F0B54;
$purple: #4d51d8;


