.h2-dashboard {
  margin-left: 0;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.full-screen {
  height: calc(100vh - 220px);
}

.marge-haute {
  margin-top: 20px;
}

.format-onglets {
  color: $purple;
  border-bottom: 0;
  margin-top: 15px;
}
