// Specific CSS for your home-page
.img-home {
  height: 75vh;
  margin-bottom: -1em;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1561599966-bcfb426f7641?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2849&q=80');
  background-position: bottom;
}

.title-home {
  color: $white;
  letter-spacing: 2px;
 text-align: center;

}

.btn-home {
  text-align: center;

}


.siema-home {
  height: 75vh;
  margin-bottom: -1em;
  background-position: bottom;
}

.text-highlighted {
  background-color: $purple;
  padding: 8px;
  color :$dark-gray;
}


