.information {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.description {
  width: 35%;
  height: 100%;
}

#list {
  padding-left: 0;
  margin-right: 10px;
}

#list li{
  list-style-type: none;

 }

.carousel-container {
  width: 65%;
  height: 100%;
}

.show-info-container {
  // margin-top: 50px;
}

.back-to-index {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}


