.information {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.description {
  width: 35%;
  height: 100%;
}

#list {
  padding-left: 0;
  margin-right: 10px;
}

#list li {
  list-style-type: none;

 }
.siema-container {
    width: 55%;
}

.siema {
  height: 400px;
}

.siema img {
 width: 100%;
 height: 400px;
 object-fit: cover;
}

.button {
  display: flex;
  align-items: flex-end;
}


.show-info-container {
  margin-top: 40px;
}

.back-to-index {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

label {
  color: $purple;
}

.prev, .next {
  background: #2E1545;
  padding: 8px 24px;
  border-radius: 3px;
  color: $white !important;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.modal-content {
  opacity: 0.9;
  padding: 5px;
  border-radius: 5px;
}

.modal-footer {
  padding: inherit;
}
#button-hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}
