<div class="footer">
  <div class="footer-static-links">
    <%= link_to 'about', about_path %>
    <%= link_to 'contact', contact_path %>
  </div>
  <div class="footer-links">
    <a href="https://github.com/charleshsb/monumental"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/explore/tags/monuments/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/thisismonuments"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/wikimonuments"><i class="fab fa-twitter"></i></a>
  </div>
</div>
