<h1>My dashboard</h1>

<h2>My bookings</h2>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.monument.title %></li>
  <% end  %>
</ul>

<h2>My monuments</h2>
<ul>
  <% @monuments.each do |monument| %>
    <li><%= monument.title %></li>
  <% end  %>
</ul>

<!-- on peut faire curent_user.bookings, au lieu de la méthode dashboard dans le controlleur -->
