<h1>My dashboard</h1>

<h2>My bookings</h2>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= link_to booking.monument.title, monument_path(booking.monument) %></li>
  <% end  %>
</ul>

<h2>My monuments</h2>
<ul>
  <% @monuments.each do |monument| %>
    <li><%= link_to monument.title, monument_path(monument) %></li>
  <% end  %>
</ul>

<!-- on peut faire curent_user.bookings, au lieu de la méthode dashboard dans le controlleur -->
