<div class="siema-home-container">
 <div class="siema siema-test">
   <img src="https://cdn.pixabay.com/photo/2019/06/03/19/47/australia-4249691_960_720.jpg">
   <img src="https://files.otis.com/otis/fr/fr/contentimages/empire-state-building-sunset-two-1920x1080.jpg">
 </div>
 </div>



<div class="banner img-home ">

  <div class="title-home col-6 offset-3">
    <h1 class= "text-center mb-3">Welcome to <span class="text-highlighted">monumental</span></h1>
    <h7 class ="mb-5">Go monumental. Rent a monument.</h7>

    <div class="d-flex justify-content-center bd-highlight mt-3">
      <div  class = "col-10 p-2 bd-highlight">
        <%= form_tag monuments_path, method: :get do %>
          <%= text_field_tag :query, params[:query],placeholder: "Find a monument", class: "form-control mb-2 search-test home "%>
      </div>
      <div class = "p-2 bd-highlight">
        <%= image_submit_tag("zoom-2.png", class: 'btn-flat search-btn-flat', alt: 'search')%>
        <% end %>
      </div>
    </div>

    <div class="btn-home">
      <%= link_to "DISCOVER ALL MONUMENTS", monuments_path, class: 'btn-link home' %>
    </div>
  </div>
</div>
