<div class="banner img-home">
  <div class="title-home">
    <div><h1>welcome to monumental</h1></div>
    <div class="btn-home"><%= link_to "discover our monuments", monuments_path, class: "btn-flat" %></div>
  </div>
</div>
