

.btn-flat {
  background:$light-gray;
  padding: 8px 24px;
  border-radius: 3px;
  color: $purple;
  border-color: $purple;
  font-size: 12px;
  transition: background 0.3s ease;
}

.btn-flat:hover  {
  color: white;
  background: $purple-gradient;
}




