.navbar-lewagon {
  justify-content: space-between;
  background: $dark-purple;
  height: 110px;


  .navbar-collapse {
    flex-grow: 0;

    .nav-link {
      color: $white;
      opacity: 0.8;

      &:hover {
        color: red;
      }
    }

    .nav-link.active {
      color: $white;
      opacity: 1;
    }
  }

  .navbar-brand img {
    width: 40px;
  }
}

.sticky {
   position: fixed;
   top: 0;
   width: 100%;
  }


