.navbar-lewagon {
  justify-content: space-between;
  background: $dark-purple;
  height: 110px;
  padding: 0rem 1rem;

  .navbar-collapse {
    flex-grow: 0;

    .nav-link {
      color: $white;
      opacity: 0.8;

      &:hover {
        font-weight: bolder;
      }
    }

    .nav-link.active {
      color: $white;
      opacity: 1;
    }
  }

  .navbar-brand img {
    width: 40px;
  }
}

.sticky {
   position: fixed;
   top: 0;
   width: 100%;
  }

#profile-pic-pos{
    padding-right: 20px;
}

